body{
	font: 20px arial, sans-serif;
}
.navbar{
	background-color: #aa9600;
}
.container{
	background-colo;
}
.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}
.quem-somos{
	background-color: #55ff7f;
	color: #ffffff;
}
.parceiros{
	background-color: #55557f;
}
.bg-footer{
	background-color: #06bdff;
	color: #ffffff;
}